@font-face {
  font-family:"TimesNewRomanMTCondensedRegular" ;
  src: url("./TimesNewRomanMTCondensedRegular.otf") format("opentype");
}



body {
  font-family: "TimesNewRomanMTCondensedRegular", serif;
}

h2 {
  padding: 3rem;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

a {
  text-decoration: none;
}

svg{
  color: black;
  
}