body{
  margin: 0;
  padding: 0;
}
p {
  font-family: " Romanesco" ;
}
h1,h2 {
  font-family: "Playfair Display", serif;
}
em:hover{
  color: green;
}

h2 {
  padding: 3rem;
}
h2:hover{
  color: #A7001E;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

a {
  text-decoration: none;
}

svg{
  color: black;
  
}



svg:hover{
  color: green;
  
}
.first{
  background: url("./images/beauJardin.be") no-repeat;
  background-position: center;
  background-size: cover;

  
}

.first p{
  color: black;
  font-weight: bolder;
  font-size: larger;
  letter-spacing: 5px;
  line-break: auto;
  text-shadow:
  1px 1px 2px #fff;
}

.first h1{
 height: 10vh;
}

.first a{
  color: black;
  text-decoration: none;
}
.first a:hover{
  color: #fff;
}
.coordonnes a{
  text-decoration: none;
  color: black;

}

.coordonnes a:hover{
  color: green;

}
